body {
    background-image: url('fonts/mainfont.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #212121;
  }
.top-row {
    width: 1470px;
    height: 80px;
    background-color: #545454;
}
.container {
    display: flex;
    flex-direction: row;
    margin-inline: 17px;
    padding-top: 20px;
    color: #545454;
}
.dota_logo {
    margin-right: 79px;
}
.dotaloggggg {
    margin-top: 4px;
}
.menu_menu {
    margin-right: 106px;
}
.left_side {
    display: flex;
    flex-direction: row;
}
.kolokol {
    margin-top: 3px;
    margin-left: 18px;
    margin-right: 20px;
}
.settings {
    margin-right: 28px;
}
.mail {
    margin-left: 887px;
}
.left_side {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row;
}
.left_side a:hover {
    outline-offset: 3px;
    transition: all 0.3s;
}

.left_side a:hover img {
    transition: all 0.3s;
}
.left_side a:hover img {
    transform: scale(1.15);
}
