.top-row {
    width: 1920px;
    height: 80px;
    color: #545454;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: 17px;
}
.dota_logo::before {
    content: '';
    background-image: url('/dotalogo.svg');
    background-repeat: no-repeat;
    display: block;
    width: 109px;
    height: 22px;
}
.dota_logo {
    margin-right: 79px;
}
.menu_menu::before {
    content: '';
    background-image: url('/more.svg');
    background-repeat: no-repeat;
    display: block;
    width: 27px;
    height: 27px;
}
.menu_menu {
    margin-right: 106px;
}