.top-row {
    width: 1920px;
    height: 80px;
    background-color: #545454;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: 17px;
    color: #545454;
}
.dota_logo::before {
    content: '';
    background-image: url('img/dotalogo.svg');
    background-repeat: no-repeat;
    display: block;
    width: 109px;
    height: 22px;
}
.dota_logo {
    margin-right: 79px;
}
.menu_menu::before {
    content: '';
    background-image: url('img/more.svg');
    background-repeat: no-repeat;
    display: block;
    width: 27px;
    height: 27px;
}
.menu_menu {
    margin-right: 106px;
}
*{box-sizing: border-box;}
form {
  position: relative;
  width: 291px;
  margin: 0 auto;
  height: 34px;
}
input {
  height: 42px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
input:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid #545454;
}
button {
  background: #181818;
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #545454;
}

.left_side, .right_side {
    display: flex;
    flex-direction: row;
}

.right_side {
    margin-left: 887px;
}